name: Undeploy Preview from Cloud Run

on:
  pull_request:
    branches:
      - feat/previews
    types:
      - closed

jobs:
  undeploy:
    name: Undeploy from Cloud Run
    runs-on: ubuntu-latest

    steps:
      - id: auth
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v0

      - name: Undeploy
        run: gcloud -q run services delete omnibridge-ui-preview-${{github.event.number}} --region asia-east1

      - name: Delete image
        run: gcloud -q artifacts docker images delete asia-docker.pkg.dev/omnibridge-ui/frontend/dev-image-${{github.event.number}}

      - name: Comment on pull request
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: Successfully undeployed the Preview of this Pull Request
          GITHUB_TOKEN: ${{github.token}}
